.spinner {
    width: 30px;
    height: 30px;
    display: grid;
    border-radius: 50%;
    -webkit-mask: radial-gradient(farthest-side, #0000 40%, #888 41%);
    background: linear-gradient(0deg, rgba(200, 200, 200, 0.5) 50%, rgba(200, 200, 200, 1) 0) center/2.5px 100%,
                linear-gradient(90deg, rgba(150, 150, 150, 0.25) 50%, rgba(200, 200, 200, 0.75) 0) center/100% 2.5px;
    background-repeat: no-repeat;
    animation: spinner-rotate 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.9;
    transform: rotate(30deg);
}

.spinner::after {
    opacity: 0.8;
    transform: rotate(60deg);
}

@keyframes spinner-rotate {
    100% {
        transform: rotate(1turn);
    }
}