<!-- Modal -->
<div class="modal fade" id="commentSection{{dataModal['id']}}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close"><svg aria-label="Cerrar"
      class="text-white" fill="currentColor" height="18" role="img" viewBox="0 0 24 24" width="18">
      <title>Cerrar</title>
      <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="3"></polyline>
      <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
        x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
    </svg></button>

  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-body">
        <div class="card border-0 rounded-0">
          <div class="row g-0">
            <div class="col-6 d-none d-md-block">
              <img src="{{dataModal['image']}}" class="img-fluid" alt="...">
            </div>
            <div class="col-md-6 col-12 mainCardContent">
              <div class="dataUser">
                <div class="d-none d-md-flex justify-content-between align-items-center">
                  <div class="user">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>{{dataModal['user']['username']}}</span>
                  </div>
                  <svg aria-label="Más opciones" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24"
                    role="img" viewBox="0 0 24 24" width="24">
                    <title>Más opciones</title>
                    <circle cx="12" cy="12" r="1.5"></circle>
                    <circle cx="6" cy="12" r="1.5"></circle>
                    <circle cx="18" cy="12" r="1.5"></circle>
                  </svg>
                </div>
                <div class="d-block d-md-none">
                  <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close"><svg
                      aria-label="Cerrar" class="text-white" fill="currentColor" height="18" role="img"
                      viewBox="0 0 24 24" width="18">
                      <title>Cerrar</title>
                      <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                      <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                    </svg></button>
                  <h5>Comentarios</h5>

                </div>

              </div>
              <div class="card-body">
                @if(this.commentaryService.listOfComments().length > 0) {

                <div class="sectionComment">
                  <div class="comment">
                    <i class="fa-solid fa-circle-user"></i>
                    <div class="bodyComment">
                      <span class="fw-bold username">{{dataModal['user']['username']}}</span>
                      <span>{{dataModal['description']}}</span>
                    </div>
                  </div>
                  <div class="commentFooter">
                    <span class="time">{{this.homeService.getNumberDays(dataModal['created_at'])}}</span>
                  </div>
                </div>
                @for (comment of this.commentaryService.listOfComments().slice().reverse(); track $index) {
                <div class="sectionComment">
                  @if(comment.reply_to_id == null) {
                  <app-comment-box [dataComment]="comment" [idModal]="dataModal['id']"></app-comment-box>
                  }
                </div>
                @if(this.commentaryService.idCommentsWithReply().includes(comment.id)) {
                <div class="commentFooter">
                  <div class="lineSeparator"></div>
                  <span (click)="seeResponses(comment.id)" class="seeResponses" id="seeResponses{{comment.id}}">Ver
                    respuestas ({{this.commentaryService.numberOfResponses(comment.id)}})</span>

                </div>
                }
                <div id="replies{{comment.id}}" class="d-none">
                  @for (reply of this.commentaryService.listOfReplies().slice().reverse(); track $index) {
                  @if(reply.reply_to_id == comment.id) {
                  <app-comment-box [dataComment]="reply" [idModal]="dataModal['id']"
                    [isAReply]="true"></app-comment-box>
                  }
                  }
                </div>

                }
                }@else {
                  <app-spinner class="d-flex justify-content-center align-items-center h-100"></app-spinner>
                }

              </div>
              <div class="footer">
                <div class="interactiveButtons">
                  <div class="mainButtons">

                    @if(!dataModal['liked_by_auth_user']){
                    <svg (click)="this.homeService.addLikePublication(dataModal['id'])" aria-label="Me gusta"
                      class="cursor-pointer" fill="currentColor" height="24" role="img" viewBox="0 0 24 24"
                      width="24">
                      <title>Me gusta</title>
                      <path
                        d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
                      </path>
                    </svg>
                    }@else {
                    <svg aria-label="Ya no me gusta" (click)="this.homeService.removeLikePublication(dataModal['id'])"
                      class="text-danger cursor-pointer" fill="currentColor" height="24" role="img" viewBox="0 0 48 48" width="24">
                      <title>Ya no me gusta</title>
                      <path
                        d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                      </path>
                    </svg>
                    }
                    <svg aria-label="Comentar" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24"
                      role="img" viewBox="0 0 24 24" width="24">
                      <title>Comentar</title>
                      <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor"
                        stroke-linejoin="round" stroke-width="2"></path>
                    </svg>
                    <svg aria-label="Compartir publicación" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor"
                      height="24" role="img" viewBox="0 0 24 24" width="24">
                      <title>Compartir publicación</title>
                      <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22"
                        x2="9.218" y1="3" y2="10.083"></line>
                      <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                        stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                    </svg>
                  </div>
                  <div>
                    <svg aria-label="Guardar" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24"
                      role="img" viewBox="0 0 24 24" width="24">
                      <title>Guardar</title>
                      <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                    </svg>
                  </div>
                </div>
                <div class="likes">
                  <span class="fw-bold">{{dataModal['likes']}} Me gusta</span>
                  <p class="time">Hace {{this.homeService.getNumberDays(dataModal['created_at'])}}</p>
                </div>
                <div class="addCommentSection pe-0">
                  <app-add-comment-input [cardData]="dataModal" [isModalSection]="true"></app-add-comment-input>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>