#newPublication {

    .btn.close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        z-index: 10;
    }

    .modal-dialog {
        height: 75%;
        .modal-content {
            max-width: 600px;
            margin: auto;
            margin-top: 10%;
            background-color: #000;
            height: 100%;
            .modal-header {
                height: 50px;
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
                border-bottom: none;

                .modal-title {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .modal-body {
                background-color: #262626;
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                p {
                    font-size: 20px;
                    margin: 15px 0;
                }
                button {
                    background-color: #0095f6;
                    margin-top: 10px;
                }
            }
        }
    }

}