<div class="modal fade" id="discardPublication" tabindex="-1"
    aria-labelledby="discardPublicationModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="header-body">
                    <h3>
                        ¿Descargar publicación?
                    </h3>
                    <p>Si sales, no se guardaran los cambios.</p>
                </div>
                <div class="footer-body">
                    <button type="button" class="discard" (click)="discard()" data-bs-dismiss="modal">Descartar</button>
                    <button type="button" class="text-white" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</div>